@import url ('https://fonts.googleapis.com/css2? família=Roboto+Mono:ital,wght@1.700edisplay=swap');

body {
  padding: 0;
  margin: 0;
  background-color: cornsilk;
}

html {
  height: 100%;
}

li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(212, 147, 7, 0.829);
  color: white;
  height: 130px;
}

header h1 {
  margin-left: 20px;
  font-size: 3.5em;
  font-family: fantasy;
  letter-spacing: 10px;
}

.lista {
  display: flex;
  font-size: 1.6em;
  margin-right: 20px;
}

.lista a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.lista a:hover {
  background-color: white;
  color: black;
}

.banner {
  top: -80px;
  position: relative;
  text-align: center;
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-image: url(/img/acarajé.jpg);
  background-size: 100%;
  height: 81vh;
}

.banner h2 {
  position: relative;
  top: 200px;
  font-family: 'Roboto Mono', monospace;
}

.imgs img{
  max-width: 470px;
  max-height: 300px;
  margin-left: 10px;
}

.meio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main p {
  margin: -50px 20px 30px 50px;
  font-size: 2em;
  text-align: justify;
}

footer{
  font-size: 2em;
  background-color: lawngreen;
  height: 150px;
}

footer ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a img{
  position: relative;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  top: 25px;
  height: 50px;
}

footer p {
  text-align: center;
  margin-left: 50px;
}

main p {
  font-family: monospace;
  letter-spacing: 2px;
  padding: 25px;
}